.presentation-container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.image-presentation-container {
    padding: 20px;
    text-align: center;
}

.image-presentation-container img {
    border-radius: 20%;
    width: 90%;
    text-align: center;
}

.title-presentation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 230px;
    text-align: center;
    padding: 20px;
}

@media (min-width: 992px) {

    .presentation-container {
        flex-direction: row-reverse;
    }

    .title-presentation-container {
        justify-content: center;
        padding-top: 180px;
        padding-left: 80px;
        align-self: flex-start;
        text-align: left;
    }

    .image-presentation-container img {
        width: 70%;
    }
}