.nav-container, .nav-container:hover {
    color: #FFF;
}

.main-menu {
    display: flex;
    font-size: 0,2em;
    justify-content: space-between;
}

.main-menu a {
    color: rgba(255, 255, 255, 0.5);
}

.main-menu a:hover {
    color: #FFF;
}

.main-menu a.active {
    color: #FFF;
    font-weight: bold;
}


@media (min-width: 768px) {

    .main-menu {
        width: 80%;
    }

}

@media (min-width: 992px) {
    .main-menu {
        width: 50%;
    }
}
.menu-color {
    background-color: rgb(220, 177, 132);
}